---
import { servicesMenuItems } from "../../../data/services-menu";
import SidebarLayout from "../../../../../../layouts/SidebarLayout.astro";
---

<SidebarLayout
  title="Training"
  menuItems={servicesMenuItems}
  description="Training"
>
  <h1 class="text-3xl font-bold mb-4">Services</h1>
  <p>Here we present an introduction.</p>
</SidebarLayout>