---
import SidebarLayout from "../../../layouts/SidebarLayout.astro";
import {
  getLabelFromHref,
  prestationsMenuItems,
} from "../../../data/prestations-menu";

const path = Astro.url.pathname;
const pageTitle = getLabelFromHref(path);
---

<SidebarLayout
  title="Formation"
  menuItems={prestationsMenuItems}
  description="Formation"
>
  <h1 class="font-heading text-3xl font-bold mb-4">{pageTitle}</h1>
  <p>
    Formations sur mesure en développement, architecture, IA symbolique,
    accessibilité…
  </p>
</SidebarLayout>
