---
import { prestationsMenuItems } from "../../../data/prestations-menu";
import SidebarLayout from "../../../layouts/SidebarLayout.astro";
---

<SidebarLayout
  title="Formation"
  menuItems={prestationsMenuItems}
  description="Formation"
>
  <h1 class="text-3xl font-bold mb-4">Prestations</h1>
  <p>Ici on présente une introduction.</p>
</SidebarLayout>
