---
const { locale } = Astro.props;
import fr from "../locales/fr.ts";
import en from "../locales/en.ts";
import LanguageSelector from "./LanguageSelector.astro";
import ThemeSelector from "./ThemeSelector.astro";

const t = locale === "en" ? en : fr;

const publicDir = import.meta.env.BASE_URL;
---

<nav class="relative z-50">
  <div class="px-4 py-3 flex justify-between items-center relative">
    <a href={`./`} class="text-xl font-bold">
      <img
        src={publicDir + "logo.svg"}
        alt="Logo de JLG Consulting"
        class="dark:hidden h-16 w-auto mr-2"
      />
      <img
        src={publicDir + "logo-dark.svg"}
        alt="Logo de JLG Consulting"
        class="hidden dark:block h-16 w-auto mr-2"
      />
    </a>

    <!-- BOUTON HAMBURGER (mobile only) -->
    <button
      class="cursor-pointer lg:hidden p-2 border-0 rounded bg-transparent hover:bg-gray-300 dark:hover:bg-gray-700 transition"
      aria-label="Ouvrir le menu"
      onclick="document.getElementById('menu-content').classList.toggle('hidden'); document.getElementById('menu-content').classList.toggle('flex');"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <!-- MENU MOBILE DEROULANT ABSOLU -->
    <div
      id="menu-content"
      class="absolute top-full left-0 w-full bg-green-700 text-white flex-col items-center gap-4 py-4 hidden z-50 dark:bg-gray-900 lg:hidden"
    >
      <ul class="flex flex-col items-center justify-around">
        {
          Object.entries(t.nav).map(([key, value]) => {
            return (
              <li>
                <a
                  href={`./${key}`}
                  class="py-4 flex items-center justify-center hover:underline"
                >
                  {value}
                </a>
              </li>
            );
          })
        }
      </ul>
      <LanguageSelector />
      <ThemeSelector />
    </div>

    <!-- CONTENU MENU - visible en desktop -->
    <div class="hidden lg:flex lg:items-center lg:gap-16">
      <ul class="flex gap-4">
        {
          Object.entries(t.nav).map(([key, value]) => {
            return (
              <li>
                <a href={`./${key}`} class="hover:underline">
                  {value}
                </a>
              </li>
            );
          })
        }
      </ul>
      <div class="flex gap-4 items-center">
        <LanguageSelector />
        <ThemeSelector />
      </div>
    </div>
  </div>
</nav>
