---
---

<nav class="bg-blue-600 text-white shadow">
    <div class="container mx-auto px-4 py-3 flex justify-between items-center">
      <a href="./" class="text-xl font-bold">JLG Consulting</a>
      <ul class="flex gap-4">
        <li><a href="./" class="hover:underline">Accueil</a></li>
        <li><a href="prestations" class="hover:underline">Prestations</a></li>
        <li><a href="a-propos" class="hover:underline">À propos</a></li>
        <li><a href="references" class="hover:underline">Références</a></li>
        <li><a href="missions" class="hover:underline">Missions</a></li>
        <li><a href="contact" class="hover:underline">Contact</a></li>
</ul>
    </div>
  </nav>
  