---
const testimonials = [
  {
    text: "He is among the top people I enjoyed collaborating with",
    author: "Philippe Abdoulaye",
    company:
      "Harvard Business Review Advisory Council Member, AI / ML Adoption Strategist",
  },
  {
    text: "Jean-Louis is an exceptionnal entrepreneur with genuine and full of innovative ideas. His technological culture is just a blast!",
    author: "Merouane Debbah",
    company:
      "Professor at Khalifa University, Director of the KU 6G Research center",
  },
  {
    text: "Jean-Louis's services have been instrumental in establishing the confidence level we aimed for our customer.",
    author: "Arnaud Masseron",
    company: "Account Delivery Executive, Wipro",
  },
];
---

<section
  class="bg-green-100 dark:bg-green-900 py-12 px-4 sm:px-6 lg:px-8 rounded-lg mt-8"
>
  <h2 class="font-heading text-3xl font-semibold text-center mb-8">
    Témoignages
  </h2>
  <ul class="space-y-6 max-w-4xl mx-auto">
    {
      testimonials.map((t) => (
        <li class="bg-white dark:bg-gray-900 p-6 rounded-lg shadow">
          <blockquote class="text-gray-700 dark:text-gray-300 italic mb-4">
            “{t.text}”
          </blockquote>
          <p class="text-gray-900 dark:text-gray-100 font-medium">
            {t.author},{" "}
            <span class="text-gray-600 dark:text-gray-400">{t.company}</span>
          </p>
        </li>
      ))
    }
  </ul>
</section>
