---
import { prestationsMenuItems } from "../../../data/prestations-menu";
import SidebarLayout from "../../../layouts/SidebarLayout.astro";
---

<SidebarLayout
  title="Training"
  menuItems={prestationsMenuItems}
  description="Training"
>
  <h1 class="font-heading text-3xl font-bold mb-4">Services</h1>
  <p>Here we present an introduction.</p>
</SidebarLayout>