---
import SidebarLayout from "../../layouts/SidebarLayout.astro";
import { prestationsMenuItems } from "../../data/prestations-menu";
---

<SidebarLayout title="Formation" menuItems={prestationsMenuItems} description="Formation">
  <h1 class="text-3xl font-bold mb-4">Design UX-UI</h1>
  <p>
    Formations sur mesure en développement, architecture, IA symbolique, accessibilité…
  </p>
</SidebarLayout>
