---
import Footer from "../components/Footer.astro";
import HtmlHead from "../components/HtmlHead.astro";
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
import { getLocaleFromPathname } from "../utils/i18n";

const pathname = Astro.url.pathname;
const locale = getLocaleFromPathname(pathname);
---

<html lang="fr">
  <HtmlHead />

  <body
    class="flex flex-col min-h-screen bg-white text-gray-800 ibm-plex-serif-regular dark:bg-gray-900 dark:text-gray-200"
  >
    <NavBar locale={locale} />
    <main class="flex-grow container mx-auto">
      <slot />
    </main>
    <Footer locale={locale} />
  </body>
</html>
